@page "/"
@inherits BaseWeatherList
<h3>WeatherList</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Location</th>
            <th>Temp (C)</th>
            <th>Humid</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wData in WData)
        {
            <tr>
                <td >@wData.Id</td>
                <td>@wData.Date</td>
                <td>@wData.Location</td>
                <td>@wData.Temp</td>
                <td>@wData.Humid</td>
            </tr>
        }

    </tbody>
</table>

@code {

}
